{% extends 'topbar.html' %}
{% block body %}

<h2 class="addin text-center my-3">ADD EXPENSE:</h2>
<h2 class="text-danger text-center">{{ exp_msg }}</h2>

<style>
  tr:hover {
    background-color: khaki;
  }

  .addin {
    background-color: rgb(255, 136, 0);
    width: auto;
    border: solid 5px black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
</style>

<form method="post" class="container mt-4">
  {% csrf_token %}
  <div class="form-group row">
    <label for="id_expense" class="col-sm-3 col-form-label">Expense:</label>
    <div class="col-sm-9">
      <input type="number" name="expense" required id="id_expense" class="form-control" />
    </div>
  </div><br>

  <div class="form-group row">
    <label for="id_expense_type" class="col-sm-3 col-form-label">Expense Type:</label>
    <div class="col-sm-9">
      <input type="text" name="expense_type" maxlength="30" required id="id_expense_type" class="form-control" />
    </div>
  </div><br>

  <div class="form-group row">
    <label for="id_expense_date" class="col-sm-3 col-form-label">Expense Date:</label>
    <div class="col-sm-9">
      <input type="text" name="expense_date" required id="id_expense_date" class="form-control" />
    </div>
  </div><br>

  <div class="form-group row">
    <label for="id_description" class="col-sm-3 col-form-label">Description:</label>
    <div class="col-sm-9">
      <textarea name="description" cols="40" rows="5" maxlength="300" required id="id_description" class="form-control"></textarea>
    </div>
  </div><br>

  <div class="form-group row">
    <label for="id_user" class="col-sm-3 col-form-label">User:</label>
    <div class="col-sm-9">
      <input type="text" name="uid" value="{{ user }}" class="form-control" />
    </div>
  </div><br>

  <div class="form-group row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <button type="submit" class="btn btn-primary">Submit</button>&nbsp  &nbsp &nbsp
      <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
  </div>
</form>

{% endblock %}
